@import "./../../shared/variable.scss";

section {
  margin-top: 130px;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #9747ff;
  cursor: pointer;
}

.sectionHeader {
  @include dFlex($jc: flex-start);

  > .horLine {
    width: 50px;
    margin-right: 50px;
    height: 4px;
    background-color: $main-focus;
    border-radius: 0 4px 4px 0;
  }

  > h2 {
    font-size: 90px;
  }
}

.submitMessage {
  color: #0aa50a;
  border-radius: 10px;
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
}

.upArrow {
  position: absolute;
  right: 32px;
}

.upArrowImg:hover {
  filter: brightness(0) saturate(100%) invert(84%) sepia(90%) saturate(1612%)
    hue-rotate(33deg) brightness(93%) contrast(94%);
}

main {
  width: 100%;
  padding: 0 100px;
  margin-top: 85px;
  @include dFlex($ai: center, $g: 150px);

  > .description {
    flex: 1;
    > h3 {
      font-size: 32px;
      margin-bottom: 35px;
    }

    > p {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #9747ff;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: none;
  background-color: rgba($color: #000000, $alpha: 0);
  color: white;
  font-family: "Poppins", sans-serif;
}

.fixedHeightSmall {
  height: 100px;
}

.fixedHeightBig {
  height: 265px;
  margin-top: 42px;
}

small {
  color: red;
}

.submitContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  background-color: $main-focus;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
}

input[type="submit"]:hover {
  background-color: #9747ff;
}

input[type="submit"]:disabled {
  background-color: #b6b6b6;
  &:hover {
    cursor: default;
  }
}

.container {
  border-radius: 5px;
  flex: 1;
}

// invalid styles

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

//valid styles
input.ng-valid,
textarea.ng-valid {
  border: 1px solid green;
}

input:focus,
textarea:focus {
  outline: none;
}

.acceptPrivacy {
  min-height: 75px;
  > div {
    @include dFlex($jc: flex-start, $g: 8px);

    > label {
      font-size: 14px;
    }
  }
}

#check-privacy {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid $main-focus;
  border-radius: 2px;
  cursor: pointer;
}

input[type="checkbox"]:checked:before {
  content: "✓";
  color: #1cdae6;
  display: block;
  text-align: center;
  line-height: 16px;
}

.contactShadow {
  position: absolute;
  bottom: -200px;
  left: -200px;
  max-width: 500px;
  z-index: -1;
  transform: rotate(90deg);
}

@media (max-width: 1250px) {
  .sectionHeader {
    > h2 {
      font-size: 72px;
    }
  }

  main {
    gap: 50px;
    > .description {
      > h3 {
        font-size: 28px;
        margin-bottom: 35px;
      }

      > p {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 1250px) {
  main {
    flex-direction: column;
    gap: 16px;
    > .description {
      max-width: 620px;
      text-align: center;
      text-wrap: balance;
      > h3 {
        font-size: 28px;
        margin-bottom: 35px;
      }
    }
  }
  .contactShadow {
    bottom: -350px;
    left: auto;
    right: -200px;
    transform: rotate(-20deg);
    opacity: 0.7;
  }
}

@media (max-width: 599px) {
  .sectionHeader {
    > .horLine {
      width: 20px;
      margin-right: 15px;
    }
  }
  main {
    padding: 0 40px;
    margin-top: 36px;
    > .description {
      > h3 {
        font-size: 28px;
        margin-bottom: 25px;
      }
    }
  }
  .contactShadow {
    bottom: -200px;
    left: auto;
    right: -100px;
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  .sectionHeader {
    > h2 {
      font-size: 45px;
    }
  }

  main {
    padding: 0 28px;
    > .description {
      > h3 {
        font-size: 23px;
        margin-bottom: 25px;
      }
    }
  }


  input[type="submit"] {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {

  .sectionHeader {
    > h2 {
      padding: 0 8%;
    }
  }
  .upArrow {
    right: 32px;
  }
}
