<section class="mainTopSection">

  <div class="leftContent">
    <img src="assets/img/profileMain.png">
  </div>
  <div class="rightContent">
    <div class="rightContentWrapper">
      <div>
        <h2 class="vertikalText">I am</h2>
      </div>
      <div>
        <h2 class="name">Matthias <br />Hammelehle</h2>
        <h2 class="purple">FRONTEND DEVELOPER</h2>
      </div>
    </div>
    <div><button class="btnContent">Let's talk!</button></div>
  </div>
  <div class="contactOnTop">
    <div class="breakLineEmail"></div>
    <div class="socialProfile">
      <a href="#"><img src="assets/img/Icons/githubIcon.png" alt="github Icon"></a>
      <a href="#"><img src="assets/img/Icons/mailIcon.png" alt="Mail:to Icon"></a>
      <a href="#"><img src="assets/img/Icons/LinkInIcon.png" alt="linkIn Icon"></a>
      <a class="emailAnker" href="#">mahammelehle&#64;outlook.de</a>
    </div>
  </div>
  <div class="scrollPtag">
    <a href="#">Scroll down -></a>
  </div>

</section>

