@import "./../../shared/variable.scss";

section {
  @include dFlex($ai: flex-start, $jc: flex-start, $g: 64px);
  width: 100%;
  padding-top: 116px;
  position: relative;

  > .heroWrapper {
    width: 100%;
    @include dFlex($jc: space-evenly, $ai: flex-start);
    padding: 0 100px;
    margin-bottom: 50px;
  }
}

.profileImg {
  min-width: 650px;
  height: 700px;
  margin-left: -100px;
  display: flex;
  justify-content: center;
  background-image: url("./../../../../public/assets/img/photo\ shadows.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  > img {
    max-width: 600px;
    height: 100%;
    max-height: 800px;
  }
}

.headingContainer {
  @include dFlex($jc: flex-start, $g: 44px);
  flex-direction: column;
  margin-top: 170px;
  min-width: fit-content;
  margin-left: -80px;
}

.heading {
  @include dFlex($jc: flex-start, $g: 35px);
  line-height: 1;

  > .vertical {
    font-size: 120px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  > div {
    > h1 {
      font-size: 90px;
      font-weight: 700;
    }

    > p {
      font-size: 58px;
      color: #9747FF;
    }
  }
}

.contactLink {
  text-decoration: none;
  padding: 15px 30px;
  background-color: $main-focus;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  transition: background-color 125ms ease-in-out, padding 125ms ease-in-out;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

  &:hover {
    background-color: #9747FF;
    padding: 20px 40px;
  }
}

.frameWrapper {
  position: absolute;
  max-width: 1440px;
  max-height: 800px;
  width: 100vw;
  top: 633px;
  right: 0;
  left: 0;
  overflow: hidden;

  > img {
    height: 100%;
  }
}

.contacts {
  @include dFlex($jc: flex-start, $g: 42px);
  position: relative;
  z-index: 20;

  > .horLine {
    width: 150px;
    height: 4px;
    background-color: #9747FF;
    border-radius: 0 8px 8px 0;
  }

  > svg:hover {
    scale: 115%;
    cursor: pointer;

    path {
      fill: $main-focus;
    }
  }

  > a {
    text-decoration: none;
    color: white;
    font-size: 23px;
  }
}

@media (max-width: 1400px) {
  section {
    flex: 1;
    > .heroWrapper {
      margin-top: 100px;
    }
  }

  .headingContainer {
    margin-top: 100px;
  }

  .heading {
    .vertical {
      font-size: 78px;
    }
    div {
      > h1 {
        font-size: 72px;
      }
      > p {
        font-size: 40px;
      }
    }
  }

  .profileImg {
    min-width: 450px;
    height: 500px;
    margin-left: -100px;
    > img {
      height: 100%;
    }
  }

  .frameWrapper {
    top: 520px;
    right: 0;
    left: 0;
    overflow: hidden;

    > img {
      height: 100%;
    }
  }

  .contacts {
    margin-bottom: 48px;
  }
}

@media (max-width: 950px) {
  section {
    > .heroWrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      padding: 0 40px;

      > .profileImg {
        margin-left: 0;
      }
    }
  }

  .headingContainer {
    position: relative;
    z-index: 25;
    margin-left: 0;
    margin-top: 24px;
    gap: 16px;
  }

  .frameWrapper {
    top: 420px;
  }

  .eMailLink {
    display: none;
  }
}

@media (max-width: 599px) {
  section {
    > .heroWrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      padding: 0;

      > .profileImg {
        margin-left: 0;
      }
    }
  }

  .headingContainer {
    position: relative;
    z-index: 25;
    margin-left: 0;
    margin-top: 24px;
    gap: 16px;
  }

  .heading {
    > .vertical {
      font-size: 58px;
    }

    > div {
      > h1 {
        font-size: 52px;
        font-weight: 700;
      }

      > p {
        font-size: 32px;
        color: #9747FF;
      }
    }
  }

  button {
    font-size: 16px;
  }

  .frameWrapper {
    top: 420px;
  }

  .contacts {
    @include dFlex($jc: flex-start, $g: 42px);
    position: relative;
    width: 100%;
    z-index: 20;

    > .horLine {
      width: 25%;
    }
  }
}

@media (max-width: 440px) {
  .heading {
    gap: 16px;

    > .vertical {
      font-size: 50px;
    }

    > div {
      > h1 {
        font-size: 40px;
      }

      > p {
        font-size: 22px;
        color: #9747FF;
      }
    }
  }

  .frameWrapper {
    top: 420px;
  }

  .contacts {
    @include dFlex($jc: flex-start, $g: 42px);
    position: relative;
    width: 100%;
    z-index: 20;

    > .horLine {
      width: 25%;
    }
  }
}

@media (max-height: 700px) and (max-width: 500px) {
  .profileImg {
    display: flex;
    height: 400px;
    > img {
      max-width: 600px;
      height: 100%;
      max-height: 800px;
    }
  }
  .frameWrapper {
    top: 320px;
    right: 0;
    width: 100%;
    max-width: 100%;
  }
}
