<section>
  <!-- <div class="aboutShadow">
    <img src="assets/img/Purple shadow 1.png" alt="" class="aboutShadowImg" />
  </div> -->
  <div class="leftSection" data-aos="fade-right">
    <h2>{{ "aboutMe.headline" | translate }}</h2>
    <p>{{ "aboutMe.hello" | translate }}</p>
    <div class="bulbText">
      <img class="bulbImg" src="assets/img/Icons/bulb.png" alt="" />
      <p>{{"aboutMe.bulb" | translate}}</p>
    </div>
    <div class="puzzleText">
      <img src="assets/img/Icons/puzzle.png" alt="" />
      <p>{{"aboutMe.puzzle" | translate}}</p>
    </div>
  </div>
  <div class="rightSection" data-aos="fade-left" data-aos-offset="-50">
    <img src="assets/img/profileSub2.png" alt="" />
    <span class="horLine"></span>
  </div>
</section>
