<section class="aboutMe">
  <div class="leftAboutMe">
    <h2>About me</h2>
    <div class="aboutText">
      <p class="topText">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        quia, temporibus reiciendis repudiandae quae eius. Sint ipsam debitis
        laboriosam. Possimus ea aliquid nulla dolorum deleniti cum quas
        temporibus dolore quidem!
      </p>
      <div class="subText">
        <img src="assets/img/Icons/bulb.png" alt="">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
          possimus saepe, velit ullam corrupti facilis facere omnis eaque
        </p>
      </div>
      <div class="subText">
            <img src="assets/img/Icons/puzzle.png" alt="">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum natus
          architecto non praesentium eaque reprehenderit quos consequuntur quam,
        </p>
      </div>
    </div>
  </div>
  <div class="rightAboutMe">
    <div class="imgAboutMe"><img src="assets/img/profileSub.png" alt=""></div>
    <div class="imgslideContainer"></div>
  </div>
</section>
