@import "./../../shared/variable.scss";

section {
  @include dFlex($jc: space-between, $g: 132px);
  padding-top: 140px;
  position: relative;

  > .aboutShadow {
    position: absolute;
    top: 0;
    right: 0;
    clip-path: inset(0 0 0 50%);

    > img {
      height: 550px;
      transform: translateX(60%);
    }
  }

  > .leftSection {
    padding-left: 100px;
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 35px);
    flex-direction: column;
    max-width: 650px;
    flex: 1;

    > h2 {
      font-size: 90px;
    }

    > div {
      @include dFlex($jc: flex-start);

      > img {
        width: 50px;
        height: 50px;
        margin: 24px;
      }
    }
  }

  > .rightSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > .horLine {
      width: 100%;
      max-width: 200px;
      height: 4px;
      background-color: $main-focus;
    }
    > img {
      max-width: 100%;
      width: 453px;
      height: 453px;
      border: 4px solid $main-focus;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
    }
  }
}

@media (max-width: 1400px) {
  .rightSection {
    > img {
      min-width: 400px;
      width: 100%;
      height: auto;
      border: 4px solid $main-focus;
      border-radius: 50%;
    }
  }

}

@media (max-width: 1250px) {
  section {
    gap: 64px;
    > .leftSection {
      > h2 {
        font-size: 72px;
      }
    }

    > .rightSection {
      > img {
        min-width: 380px;
        width: 100%;
        height: 380px;
        border: 4px solid $main-focus;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 950px) {
  section {
    > .leftSection {
      width: 80%;
      max-width: 80%;
    }

    > .rightSection {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  section {
    padding-right: 40px;
    > .leftSection {
      padding-left: 40px;
      width: 100%;
      max-width: 100%;
      gap: 24px;

      > div img {
        margin-left: 0;
      }
    }

    > .rightSection {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  section {
    > .leftSection {
      max-width: 100%;
      width: 100%;
      padding-left: 64px;
      > h2 {
        font-size: 32px;
        padding-left: 16px;
      }
      >p {
        font-size: 16px;
        text-wrap: balance;
        padding-left: 16px;
      }

      .puzzleText, .bulbText {
        padding-left: 16px;
        padding-right: 18px;
        >img {
          margin-right: 10px;
          width: 40px;
          height: 40px;
        }
        >p {
          font-size: 16px;
          text-wrap: balance;
        }
      }
    }
  }
}


