@import "./../../shared/variable.scss";

.mobileButton {
  display: none;
}

section {
  width: 100%;
  @include dFlex($jc: space-between, $g: 48px);
  padding-left: 100px;
  margin-top: 130px;

  > .skills {
    @include dFlex($jc: flex-start);
    row-gap: 54px;
    column-gap: 123px;
    flex-wrap: wrap;
    max-width: 60%;

    > .singleSkill {
      width: 88px;
      @include dFlex($g: 16px);
      flex-direction: column;
      cursor: pointer;

      > img {
        transition: all 125ms ease-in-out;
      }

      > p {
        text-align: center;
      }

      &:hover {
                  animation: jumpIcon 250ms linear;
                  animation-iteration-count: 3;
                  @keyframes jumpIcon {
                    from, to {
                      transform: scale(1, 1);
                    }
                    25% {
                      transform: scale(0.9, 1.1);
                    }
                    50% {
                      transform: scale(1.1, 0.9);
                    }
                    75% {
                      transform: scale(0.95, 1.05);
                    }
                  }
    }
  }
  }


  > .skillsHeadline {
    @include dFlex($g: 34px);
    flex-direction: column;
    min-width: 571px;
    padding-left: 16px;

    > .heading {
      @include dFlex($jc: flex-end, $g: 42px);
      width: 100%;

      > h2 {
        font-size: 90px;
      }

      > .horLine {
        width: 58px;
        height: 4px;
        border-radius: 4px 0 0 4px;
        background-color: #9747FF;
      }
    }

    > p {
      padding-right: 100px;
      text-align: justify;
    }
  }
}

.contactLink {
  padding: 15px 30px;
  background-color: $main-focus;
  text-decoration: none;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

  &:hover {
    background-color: #9747FF;
    transform: scale(110%);
  }
}

@media (max-width: 1250px) {
  .mobileButton {
    display: block;
  }

  .desktopBtn {
    display: none;
  }

  section {
    flex-direction: column-reverse;
    padding-left: 0;

    > .skillsHeadline {
      width: 100%;
      padding-left: 0;

      > .heading {
        @include dFlex($jc: flex-end, $g: 42px);
        width: 100%;

        > h2 {
          font-size: 72px;
        }

        > .horLine {
          width: 58px;
          height: 4px;
          border-radius: 4px 0 0 4px;
          background-color: #9747FF;
        }
      }

      > p {
        max-width: 70%;
        padding-right: 40px;
        align-self: flex-end;
        text-align: end;
      }
    }

    > .skills {
      @include dFlex($jc: center);
      max-width: 100%;
      padding: 0 100px;
      row-gap: 54px;
      column-gap: 123px;
    }
  }
}

@media (max-width: 599px) {
  section {
    > .skills {
      padding: 0 24px;
      row-gap: 32x;
      column-gap: 70px;
    }
    > .skillsHeadline {
      min-width: 0;

      > p {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 450px) {
  section {
    > .skillsHeadline {
      width: 100%;
      max-width: 100%;
      > .heading {
        gap: 16px;
        > h2 {
          font-size: 36px;
        }
        > .horLine {
          width: 36px;
        }
        >p {
          font-size: 16px;
          text-wrap: balance;
          padding-right: 16px;
        }
      }
    }
  }
}

