<section class="mySkills">
  <button class="contactLink mobileButton">Get in Touch</button>
  <div class="skills" data-aos="fade-right">
    @for (skill of skills; track skill) {
    <div class="singleSkill">
      <img src="assets/img/Icons/{{ skill.img }}.png" alt="" />
      <p>{{ skill.name }}</p>
    </div>
    }
  </div>
  <div class="skillsHeadline" data-aos="fade-left">
    <div class="heading">
      <h2>{{ "mySkills.headline" | translate }}</h2>
      <span class="horLine"></span>
    </div>
    <p>
      {{ "mySkills.body" | translate }}
    </p>
    <a href="#contact" class="contactLink desktopBtn">{{
      "mySkills.button" | translate
    }}</a>
  </div>
</section>
