<section class="skillSection">
  <div class="iconContainer">
    <div class="icons">
      <figure>
        <img src="assets/img/Icons/Angular.png" alt="Angular" />
        <figcaption>Angular</figcaption>
      </figure>
      <figure>
        <img src="assets/img/Icons/ts.png" alt="typescript" />
        <figcaption>TypeScript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/Icons/Javascript.png" alt="Javascript" />
        <figcaption>JavaScript</figcaption>
      </figure>
      <figure>
        <img src="assets/img/Icons/html.png" alt="html" />
        <figcaption>HTML</figcaption>
      </figure>
    </div>
    <div class="icons">
      <figure>
        <img src="assets/img/Icons/Firebase.png" alt="firebase" />
        <figcaption>Firebase</figcaption>
      </figure>
      <figure>
        <img src="assets/img/Icons/git.png" alt="git" />
        <figcaption>GIT</figcaption>
      </figure>
      <figure>
        <img src="assets/img/Icons/css.png" alt="css" />
        <figcaption>CSS</figcaption>
      </figure>
      <figure>
        <img src="assets/img/Icons/Api.png" alt="api" />
        <figcaption>API</figcaption>
      </figure>
    </div>
    <div class="iconLast">
      <figure>
        <img src="assets/img/Icons/scrum.png" alt="scrum" />
        <figcaption>Scrum</figcaption>
      </figure>
      <figure>
        <img src="assets/img/Icons/material.png" alt="material Deisgn" />
        <figcaption>Meterial<br />Design</figcaption>
      </figure>
    </div>
  </div>
  <div class="mySkillsContainer">
    <div class="skillsHeading">
      <div><h2>My skills</h2></div>
      <div class="skillParagraph">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, eius
          rerum possimus blanditiis minima quisquam asperiores, ut saepe tempore
          quaerat explicabo expedita itaque pariatur quae omnis similique
          voluptatem? Fugiat, exercitationem.
        </p>
      </div>
      <div class="btnContainer">
        <button class="btnContent">Get in touch</button>
      </div>

    </div>
    <div class="headSeperator"></div>
  </div>
</section>
