<div class="agb-content">
  <h1>{{ "policy.1" | translate }}</h1>
  <h2>{{ "policy.2" | translate }}</h2>
  <h3>{{ "policy.3" | translate }}</h3>
  <p>
    {{ "policy.4" | translate }}
  </p>
  <h3>{{ "policy.5" | translate }}</h3>
  <h4>
    {{ "policy.6" | translate }}
  </h4>
  <p>
    {{ "policy.7" | translate }}
  </p>
  <h4>{{ "policy.8" | translate }}</h4>
  <p>
    {{ "policy.9" | translate }}
  </p>
  <p>
    {{ "policy.10" | translate }}
  </p>
  <h4>{{ "policy.11" | translate }}</h4>
  <p>
    {{ "policy.12" | translate }}
  </p>
  <h4>{{ "policy.13" | translate }}</h4>
  <p>
    {{ "policy.14" | translate }}
  </p>
  <p>
    {{ "policy.15" | translate }}
  </p>
  <h2>2. Hosting</h2>
  <p>{{ "policy.16" | translate }}</p>
  <h3>All-Inkl</h3>
  <p>
    {{ "policy.17" | translate }}
    <a
      href="https://all-inkl.com/datenschutzinformationen/"
      target="_blank"
      rel="noopener noreferrer"
      >https://all-inkl.com/datenschutzinformationen/</a
    >.
  </p>
  <p>
    {{ "policy.18" | translate }}
  </p>

  <h2>{{ "policy.19" | translate }}</h2>
  <h3>{{ "policy.20" | translate }}</h3>
  <p>
    {{ "policy.21" | translate }}
  </p>
  <p>
    {{ "policy.22" | translate }}
  </p>
  <p>
    {{ "policy.23" | translate }}
  </p>
  <h3>{{ "policy.24" | translate }}</h3>
  <p>
    {{ "policy.25" | translate }}
  </p>
  <p>
    Artur Marbach<br />
    Stra&szlig;burger Stieg 5<br />
    22049 Hamburg
  </p>

  <p>
    Telefon: 0176 32886660<br />
    E-Mail: marbach.a &#64;gmx.net
  </p>
  <p>
    {{ "policy.26" | translate }}
  </p>

  <h3>{{ "policy.27" | translate }}</h3>
  <p>
    {{ "policy.28" | translate }}
  </p>
  <h3>
    {{ "policy.29" | translate }}
  </h3>
  <p>
    {{ "policy.30" | translate }}
  </p>
  <h3>{{ "policy.31" | translate }}</h3>
  <p>
    {{ "policy.32" | translate }}
  </p>
  <h3>{{ "policy.33" | translate }}</h3>
  <p>
    {{ "policy.34" | translate }}
  </p>
  <h3>
    {{ "policy.35" | translate }}
  </h3>
  <p>
    {{ "policy.36" | translate }}
  </p>
  <p>
    {{ "policy.37" | translate }}
  </p>
  <h3>
    {{ "policy.38" | translate }}
  </h3>
  <p>
    {{ "policy.39" | translate }}
  </p>
  <h3>{{ "policy.40" | translate }}</h3>
  <p>
    {{ "policy.41" | translate }}
  </p>
  <h3>{{ "policy.42" | translate }}</h3>
  <p>
    {{ "policy.43" | translate }}
  </p>
  <h3>{{ "policy.44" | translate }}</h3>
  <p>
    {{ "policy.45" | translate }}
  </p>
  <ul>
    <li>
      {{ "policy.46" | translate }}
    </li>
    <li>
      {{ "policy.47" | translate }}
    </li>
    <li>
      {{ "policy.48" | translate }}
    </li>
    <li>
      {{ "policy.49" | translate }}
    </li>
  </ul>
  <p>
    {{ "policy.50" | translate }}
  </p>
  <h3>{{ "policy.51" | translate }}</h3>
  <p>
    {{ "policy.52" | translate }}
  </p>
  <p>
    {{ "policy.53" | translate }}
  </p>
  <h2>{{ "policy.54" | translate }}</h2>
  <h3>{{ "policy.55" | translate }}</h3>
  <p>
    {{ "policy.56" | translate }}
  </p>
  <p>
    {{ "policy.57" | translate }}
  </p>
  <p>
    {{ "policy.58" | translate }}
  </p>
  <h3>{{ "policy.59" | translate }}</h3>
  <p>
    {{ "policy.60" | translate }}
  </p>
  <p>
    {{ "policy.61" | translate }}
  </p>
  <p>
    {{ "policy.62" | translate }}
  </p>
  <h2>5. Plugins und Tools</h2>
  <h3>MyFonts</h3>
  <p>
    {{ "policy.63" | translate }}
  </p>
  <p>
    {{ "policy.64" | translate }}
  </p>
  <p>
    {{ "policy.65" | translate }}
    <a
      href="https://www.monotype.com/de/rechtshinweise/datenschutzrichtlinie/datenschutzrichtlinie-zum-tracking-von-webschriften"
      target="_blank"
      rel="noopener noreferrer"
      >https://www.monotype.com/de/rechtshinweise/datenschutzrichtlinie</a
    >.
  </p>
  <p>
    {{ "policy.66" | translate }}
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant-detail?id=a2z3d0000001so6AAA&status=Active"
      target="_blank"
      rel="noopener noreferrer"
      >https://www.dataprivacyframework.gov/s/participant-search/participant-detail?id=a2z3d0000001so6AAA&status=Active</a
    >.
  </p>
  <p>
    {{ "policy.67" | translate }}
    <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
  </p>
</div>
