// div {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-profile-top-section {
  height: 100%;
  margin-bottom: 130px;
}

app-about-me {
  margin-top: -70px;
}

