<div class="inprint-content">


  <h1>{{ "imprint.1" | translate }}</h1><h3>{{ "imprint.2" | translate }}</h3><p><b>Internet: </b> <a href="https://matthias-hammelehle.de" target="_blank">https://matthias-hammelehle.de</a></p>

  <p><b>{{ "imprint.3" | translate }}</b> Matthias Hammelehle</p>

  <p><b>{{ "imprint.4" | translate }}</b> Matthias Hammelehle</p>

  <p><br></p>

  <h3>{{ "imprint.5" | translate }}</h3><p>privat</p>

  <p>Vendelaustraße 45</p>

  <p>72622 Nürtingen</p>

  <p><b>Telefon:</b> <a href="tel:015225623354">015225623354</a></p>

  <p><b>Email:</b> <a href="mailto:mahammelehle@outlook.de">mahammelehle&#64;outlook.de</a><br><br></p>

  <h3>{{ "imprint.6" | translate }}</h3><p>{{ "imprint.7" | translate }}</p>

  <br><h3>{{ "imprint.8" | translate }}</h3><p>{{ "imprint.9" | translate }}</p>

  <br><h3>{{ "imprint.10" | translate }}</h3><p>{{ "imprint.11" | translate }}</p>

  <br><p>{{ "imprint.12" | translate }}<a href="http://impressum-generator.info/" target="_blank">impressum-generator.info</a> - powered by <a href="https://abfindungshero.de/" target="_blank">abfindungshero.de</a><br><br></p>
</div>
