.inprint-content{
  margin-top: 50px;
  color: white;
  // position: relative;
  padding: 100px 100px 0 100px;
  >p {
    font-size: 12px;
  }
}

a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width:950px){
  .inprint-content{
      padding-left: 25px;
      padding-right: 25px;
  }
}
