// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$portfolio-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($portfolio-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($portfolio-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($portfolio-theme);
@import "./../src/app/shared/variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0;
}

html {
  overflow-x: hidden;
  background-color: $main-bg;
  @include dFlex($jc: flex-start);
  flex-direction: column;
  scroll-behavior: smooth;
  background-image: url("./../public/assets/img/curve2.png"), url("./../public/assets/img/Purple\ shadow\ 4.png"), url("./../public/assets/img/Green\ shadow\ 2.png"), url("./../public/assets/img/Purple\ shadow\ 1.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 100vw 500px, 500px 600px, 700px 700px, 400px 350px;
  background-position: top 520px left 0, bottom -3320px left -50px, top 1900px left 0, top 1080px right -30px;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  max-width: 1440px;
  color: white;

}

app-root {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 320px) and (max-width: 500px) {
  html {
    background-image: url("./../public/assets/img/curve2.png");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-position: top 660px left 0;

  }
}

@media (max-width: 1440px) {
  html {
    background-image: url("./../public/assets/img/curve2.png"), url("./../public/assets/img/Green\ shadow\ 2.png"), url("./../public/assets/img/Purple\ shadow\ 1.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100vw 500px, 700px 700px, 400px 350px;
    background-position: top 520px left 0, top 1900px left 0, top 1080px right -30px;

  }
}

@media (max-width: 1024px) {
  html {
    background-image: url("./../public/assets/img/curve2.png"), url("./../public/assets/img/Green\ shadow\ 2.png"), url("./../public/assets/img/Purple\ shadow\ 1.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100vw 500px, 700px 700px, 400px 350px;
    background-position: top 520px left 0, top 1900px left 0, top 1080px right -30px;

  }
}

@media (max-width: 768px) {
  html {
    background-image: url("./../public/assets/img/curve2.png"), url("./../public/assets/img/Green\ shadow\ 2.png"), url("./../public/assets/img/Purple\ shadow\ 1.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100vw 500px, 700px 700px, 400px 350px;
    background-position: top 520px left 0, top 1900px left 0, top 1080px right -30px;

  }
}

@media (max-width: 425px) {
  html {
    background-image: url("./../public/assets/img/curve2.png"),  url("./../public/assets/img/Purple\ shadow\ 1.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw 500px, 400px 350px;
    background-position: top 520px left 0, top 1080px right -30px;

  }
}


/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./../public/assets/img/fonts/poppins-v21-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
