<div class="footer">
  <div class="logoAndImpressum">
    <img src="assets/img/logo.png" alt="Logo">
    <a class="impressum" href="#">Impressum</a>
  </div>
  <div>
    <p>&copy; Matthias Hammelehle</p>
  </div>
  <div class="socialMediaIcons">
    <a href="#"><img src="assets/img/Icons/githubIcon.png" alt="github Icon"></a>
    <a href="#"><img src="assets/img/Icons/mailIcon.png" alt="Mail:to Icon"></a>
    <a href="#"><img src="assets/img/Icons/LinkInIcon.png" alt="linkIn Icon"></a>
  </div>
  </div>
