@import "./../../shared/variable.scss";

section {
  position: absolute;
  left: 0;
  right: 0;
  @include dFlex($g: 23px);
  flex-direction: column;
  border-top: 4px solid $main-focus;
  // padding: 60px 0;
  width: 100vw;
  max-height: 291px;
  min-height: 291px;



  .logoContainer {
    >img {
      width: 150px;
      height: 36px;
    }
  }
}

.footerwrapper {
  width: 100%;
  max-width: 1440px;
  @include dFlex($jc: space-between);
  padding: 37px 100px;
  }

span {
  font-size: 23px;
}

a {
  text-decoration: none;
  color: white;
}

.desktopImprint {
  display: none;
}

.contacts {
  @include dFlex($jc: flex-start, $g: 42px);

  > svg:hover {
    scale: 115%;
    cursor: pointer;

    path {
      fill: $main-focus;
    }
  }

  > a {
    text-decoration: none;
    color: white;
    font-size: 23px;
  }
}

@media (max-width: 890px) {
  .footerwrapper {
    @include dFlex($g: 23px);
    flex-direction: column;
    width: 100vw;
    padding: 0;
  }
}


@media (min-width: 890px) {
  section {
    flex-direction: row;
    justify-content: space-around;
    // padding: 60px 40px;

  }

  .mobileImprint {
    display: none;
  }
  .desktopImprint {
    display: block;
  }

  .logoContainer {
    position: relative;

    > .desktopImprint {
      position: absolute;
      bottom: -20px;
      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 3px;
        width: 0;
        background-color: #9747FF;
        border-radius: 50px;
        transition: width 0.3s ease;
      }

      &:hover::before {
        width: 100%;
      }
        &:hover {
          color: #70E61C;
        }
    }
  }
}

// @media (min-width: 950px) {
//   section {
//     padding: 60px 100px;
//   }
// }
