@import "./../../shared/variable.scss";

.portfolioSection {
  margin-top: 200px;
  position: relative;

  > p {
    text-align: center;
    margin-bottom: 100px;
  }
}

.headlineContainer {
  width: 100%;
  @include dFlex();

  > .horLine {
    flex-grow: 1;
  }

  > div {
    display: flex;
    justify-content: flex-end;
    .horLine-left {
      width: 15%;
      height: 4px;
      background-color: #9747FF;
    }
  }

  > .horLine-right {
    height: 4px;
    background-color: #9747FF;
  }

  > h2 {
    font-size: 90px;
    padding: 0 32px;
  }
}

.allProjects {
  width: 100%;
  @include dFlex($g: 150px);
  flex-direction: column;
  padding: 0 100px;
}

.row-reverse {
  @include dFlex($g: 64px);
  flex-direction: row-reverse;
}

.singleProject {
  @include dFlex($g: 100px);
  width: 100%;

  > img {
    height: 339px;
  }

  > .projectInfo {
    max-width: 40%;
    @include dFlex($ai: flex-start, $g: 16px);
    flex-direction: column;

    > h3 {
      font-size: 32px;
      color: #9747FF;
    }

    > span {
      font-size: 23px;
      color: $main-focus;
    }

    > p {
      font-size: 16px;
    }
  }
}

.projectBtns {
  @include dFlex($g: 86px);
  margin-top: 20px;

  > a {
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    color: white;
    cursor: pointer;
  }

  > .test {
    background-color: #9747FF;

    &:hover {
      background-color: $main-focus;
      transition: all 100ms ease-in-out;
    }
  }

  > .github {
    border: 1px solid $main-focus;
    background-color: $main-bg;

    &:hover {
      background-color: #70E61C;
    }
  }
}

.portfolioShadow {
  position: absolute;
  z-index: -1;
}

.shadowOne {
  top: -350px;
  left: -450px;
  transform: rotate(-120deg);
}

.shadowTwo {
  top: 200px;
  right: -420px;
  transform: rotate(60deg);
}

.shadowThree {
  top: 65%;
  left: -100px;
  max-height: 700px;
}

@media (max-width: 1250px) {
  .headlineContainer {
    > h2 {
      font-size: 72px;
    }
  }
}

@media (max-width: 1150px) {
  .singleProject {
    flex-direction: column;
    gap: 0;

    > img {
      height: 339px;
    }

    > .projectInfo {
      max-width: 400px;
      align-items: center;

      > span {
        text-align: center;
      }

      > p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 950px) {
  .allProjects {
    padding: 0;
  }
  .projectBtns {
    gap: 32px;
  }

  .portfolioShadow {
    width: 400px;
  }

  .shadowOne {
    top: -350px;
    left: -150px;
    transform: rotate(-120deg);
  }

  .shadowTwo {
    top: 200px;
    right: -150px;
    transform: rotate(60deg);
  }

  .shadowThree {
    top: 65%;
    left: -150px;
    max-height: 700px;
  }
}

@media (max-width: 450px) {
  .headlineContainer {
    > h2 {
      font-size: 36px;
    }

  }
  .projectInfo{
    padding: 0 64px;
    width: 100%;
    max-width: 100%;


    .projectBtns {
      >a {
        padding: 21px;
      }
    }
  }
  .portfolioBodyP{
    font-size: 16px;
    text-wrap: balance;
    padding: 32px;
  }

}

