@import "./../../shared/variable.scss";

.portfolio {
  width: 100vw;
  max-width: 100%;
  background-color: #141D2F;
  padding: 128px 0;

  .headerContent {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 32px;

  .leftLine {
    width: 109px;
    height: 4px;
    background-color: #9747FF;
  }

  h2 {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    color: #fff;
    margin: 16px;
  }

  .rightLine {
    width: 484px;
    height: 4px;
    background-color: #9747FF;
  }
}

p {
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.allProjects {
  width: 100vw;
  max-width: 100%;
  @include dFlex($g: 150px);
  flex-direction: column;
  padding-top: 128px;
}

.row-reverse {
  @include dFlex($g: 64px);
  flex-direction: row-reverse;
}

.single-project {
  @include dFlex($g: 100px);
  width: 100%;

  > img {
    height: 339px;
  }

  > .project-info {
    max-width: 40%;
    @include dFlex($ai: flex-start, $g: 16px);
    flex-direction: column;

    > h3 {
      font-size: 32px;
      color: #9747FF;
    }

    > span {
      font-size: 23px;
      color: $main-focus;
    }

    > p {
      font-size: 16px;
    }
  }
}

.project-btns {
  @include dFlex($g: 86px);
  margin-top: 20px;

  > a {
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    color: white;
    cursor: pointer;
  }

  > .test {
    background-color: #9747FF;

    &:hover {
      background-color: $main-focus;
      transition: all 100ms ease-in-out;
    }
  }

  > .github {
    border: 1px solid $main-focus;
    background-color: $main-bg;

    &:hover {
      background-color: $main-focus;
    }
  }
}

.portfolio-shadow {
  position: absolute;
  z-index: -1;
}

.shadow-one {
  top: -350px;
  left: -450px;
  transform: rotate(-120deg);
}

.shadow-two {
  top: 200px;
  right: -420px;
  transform: rotate(60deg);
}

.shadow-three {
  top: 65%;
  left: -100px;
  max-height: 700px;
}

@media (max-width: 1250px) {
  .headline-container {
    > h2 {
      font-size: 72px;
    }
  }
}

@media (max-width: 1150px) {
  .single-project {
    flex-direction: column;
    gap: 0;

    > img {
      height: 339px;
    }

    > .project-info {
      max-width: 400px;
      align-items: center;

      > span {
        text-align: center;
      }

      > p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 950px) {
  .all-projects {
    padding: 0;
  }
  .project-btns {
    gap: 32px;
  }

  .portfolio-shadow {
    width: 400px;
  }

  .shadow-one {
    top: -350px;
    left: -150px;
    transform: rotate(-120deg);
  }

  .shadow-two {
    top: 200px;
    right: -150px;
    transform: rotate(60deg);
  }

  .shadow-three {
    top: 65%;
    left: -150px;
    max-height: 700px;
  }
}

@media (max-width: 450px) {
  .headline-container {
    > h2 {
      font-size: 45px;
    }
  }
}
}
